.next--color {
    font-weight: bold;
    font-size: 2rem;
    background-color: $primaryTextColorYellow;
    color:$primaryTextColor;
    height: 80px;
    width: 200px;
    border-radius: 2em;
    &:hover {
        background:$primaryTextColorYellow;
        color:$primaryTextColor;
    }
}

.modal-content {
    border-radius: 1.3rem;
    width: 100%;
    height: 600px;
}

.modal-dialog {
    max-width: 100vw;
    margin-top: 6rem; 
    margin-left: 84px;
    margin-right: 84px;
}

.submit--title-size {
    font-size: 4rem;
    text-align: center;
    margin: 53px;
}

.submit--label-center {
    text-align: center;
}

.submit--input {
    height:60px;
}   

label {
    @include genericText();
    margin-bottom: 10px;
}